/part1/courseinfo/node_modules
/part1/unicafe/node_modules
/part1/anecdotes/node_modules
/part1/coursedata/node_modules
/part2/phonebook/node_modules
/part2/course-information/node_modules
/part3/backend-phonebook/node_modules